/* CSS declarations go here */
	
@import url("https://unpkg.com/react-md/dist/react-md.blue-red.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:400,500,700");



@media screen and (min-width: 320px){
	.md-navigation-drawer-content {
	    min-height: calc(100vh - 64px);
	}
}

@media screen and (min-width: 768px){
	.md-navigation-drawer-content {
	    min-height: calc(100vh - 72px);
	}
}

@media (min-width: 840px) {
	.md-grid--40-16 {
	    padding: 32px;
	}
}

@media (max-width: 839px) and (min-width: 600px){
	.md-grid--40-16 {
	    padding: 32px;
	}
}

@media (max-width: 599px){
	.md-grid--40-16 {
	    padding: 8px;
	}
}